*{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    box-sizing: border-box;
}
.container{
    width:100%;
    height:100vh;
    background-color: rgb(178, 182, 185);
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background-color: rgb(58, 55, 55);
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    border:0px;
    outline: 0;
    width:60px;
    height:60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgb(255, 255, 255, 0.1),-5px -5px 15px rgb(0, 0, 0, 0.2);
    background-color: transparent;
    color:white;
    cursor: pointer;
    font-size: 20px;
    margin:10px;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    flex:1;
    font-size: 45px;
    box-shadow: none;
}
form input.qq{
    width:145px;
    color:skyblue;
    font-size: 30px;
}
form input.oper{
    color:skyblue;
    font-size: 30px;
}
